@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family:  -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: rgb(31, 32, 39);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.disabled {
  pointer-events: none;
}

.easy {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.normal {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.hard {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.mycenter {
  transform: translate(-50%, -50%);
}

.progressTransition {
  max-width: 100% !important;
  transition: width 0.5s linear;
  
}

.preGameTransition {
  
  justify-self: center;
  align-self: center;
  transition: width 5s linear !important;
}

.resetTransition {
  transition: none;
}

.headerFont {
  font-family: Signika, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


